body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #3f573e;
  align-items: stretch;
}

nav li {
  padding: 0.10rem;
}

nav li.active {
  background-color:rgb(48, 66, 47)e;
}

#root {
  height: 100vh;
  background-image: url("./images/leave_bg.png"), linear-gradient(white, #dcfbca);
  background-attachment: fixed;
  background-size: cover;
}